name: github pages

on:
  push:
    branches:
      - master # default branch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          # 如果配置 themeConfig.lastUpdated 为 false，则不需要添加该参数以加快检出速度
          fetch-depth: 0
      # 安装 pnpm
      - uses: pnpm/action-setup@v2
        with:
          version: 8.7.0
      # 安装依赖
      - name: Install dependencies
        run: pnpm install
      # 组件库打包
      - name: Build packages
        run: pnpm build
      # 测试
      - name: Test
        run: pnpm test

      # 生成覆盖率报告
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: FriedRiceNoodles/banana-ui

      # 构建文档
      - name: Build with dumi
        run: pnpm docs:build
      # 部署文档
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY_0219 }}
          # 文档目录，如果是 react 模板需要修改为 docs-dist
          publish_dir: ./docs-dist
